<script
  type="module"
  src="/src/app/components/planeta/planeta.component.ts"
></script>
<div class="main-container">
  <div class="absolute">
    <canvas #canvas class="canvas"></canvas>
  </div>
  <div class="container cont">
    <div class="divwidth">
      <div class="container divjustificado">
        <div class="divh2">
          <p id="maquina1" class="span"></p>
        </div>
      </div>
      <div class="container divjustificado">
        <div class="div-in-line">
            <img id="imagen" src="assets/img/cohete.png" alt="" class="img"/>
            <div>
              <img src="assets/img/fuego3.png" alt="" class="imgfuego"/>
            </div>
            <p class="p">NIÑOS</p>
            <div class="divjustificado">
              <div class="hexagon-button">
                <p>DESPEGAR</p>
                </div>
            </div>
        </div>
        <div class="div-in-line">
          <img src="assets/img/cohete.png" alt="" class="img" />
          <div>
            <img src="assets/img/fuego3.png" alt="" class="imgfuego"/>
          </div>
          <p class="p">ADOLESCENTES</p>
          <div class="divjustificado">
            <div class="hexagon-button">
              <p>DESPEGAR</p>
              </div>
          </div>
          
        </div>
        <div class="div-in-line">
          <img src="assets/img/cohete.png" alt="" class="img" />
          <div>
            <img src="assets/img/fuego3.png" alt="" class="imgfuego"/>
          </div>
          <p class="p">ADULTOS</p>
          <div class="divjustificado">
            <div class="hexagon-button">
              <p>DESPEGAR</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <footer>
      <div class="container divjustificado">
        <div class="divfooter">
          <p class="footerp mediano">Información de la Empresa</p>
          <p class="footerp pequeño">Dicta Colombia brinda servicios para mejorar
            la educación en el ámbito de la ciberseguridad en todo el mundo.</p>
        </div>
        <div class="divfooter">
          <p class="footerp mediano">Servicios de la Empresa</p>
          <p class="footerp pequeño">Cursos online<br><br>Cursos Online <br><br> Cursos Online</p>
        </div>
        <div class="divfooter">
          <p class="footerp mediano">Contacto</p>
          <p class="footerp pequeño">Contacto de la Empresa</p>
        </div>
      </div>
    </footer>
  </div>
</div>
