<div class="main-container">
        <div class="divpopup">
          
          <div class="capa info">
            <div class="capa mundo">
              <div class="canvas">
                  <canvas #canvas class="canvas"></canvas>
              </div>
            </div>
            <div  class="divcontext principal">
              <p class="principal">Prepara a tu hijo para que enfrente los desafíos en la era digital </p>
            </div>
            <div class="divcontext secundario">
              <div class="img">
                <img src="assets/img/grooming.jpg" alt="">
              </div>
              <p class="secundario">¿Sabías que el 84 % de las imágenes de  grooming contiene actividad sexual explícita con adolescentes?</p>
              <p class="tercero">Fuente: Interpol </p>
            </div>
            <div class="">
              <div class="divboton">
                <button class="supbutton basico">
                  ¡QUIERO EMPEZAR!
                </button>
              </div>
            </div>
          </div>
          
          
        </div>
</div>

