
<div class="main-container"> 
    <div class="canvas">
      <canvas #canvas class="canvas"></canvas>
    </div>
    <div class="buttonuniverso">
      <div class="divspan">
        <h2><p id="maquina1" class="span"></p></h2>
      </div>
      <div class="divboton">
        <button class="botongalaxia1" [routerLink]="['']"></button>
      </div>
      <div class="divboton2">
        <div class="divboton2">
          <button class="botongalaxia2"></button>
        </div>
        <div class="divboton3">
          <button class="botongalaxia3"></button>
        </div>
      </div>
      <div class="divboton4">
        <button class="botongalaxia4"></button>
      </div>
    </div>
  
</div>
