
<div class="main-container"> 
    <div class="canvas">
      <canvas #canvas class="canvas"></canvas>
    </div>
    <div class="buttonuniverso">
      <div class="divspan">
        <h2><p id="maquina1" class="span"></p></h2>
      </div>
      <div>
        <div class="divboton">
         
          <button class="botongalaxia1" (click)="linkGalaxia(2)">
            <p class="pgalaxia1">Peligros Digitales</p>
          </button>
        </div>
        <div class="div23">
          <div class="divboton2">
           
            <button class="botongalaxia2" (click)="linkGalaxia(3)">
              <p class="pgalaxia2">Riesgos Cibernéticos</p>
            </button>
          </div>
          <div class="divboton3">
          
            <button class="botongalaxia3" (click)="linkGalaxia(4)">
              <p class="pgalaxia3">Peligros Digitales</p> 
            </button>
          </div>
        </div>
        <div class="divboton4">  
          <button class="botongalaxia4" (click)="linkGalaxia(1)">
            <p class="pgalaxia4">Peligros de Salud Física</p>
          </button>
          
        </div>
      </div>   
    </div>
   
</div>
